:root {
  --main-bg-color: #111714;
  --light-green: #c7f1d3;
  --dark-green: #18472b;
  --yellow: ##d1a220;
  --light-red: #c93d3c;
  --ligth-gray: #9db6a7;
  --main-text-color: #fff;
}
html {
  scroll-behavior: smooth;
}
/* start global */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: cursive;
}
.bg-light-green {
  background-color: #c7f1d3 !important;
}
.border-15 {
  border-radius: 15px !important;
  border-width: 2px;
}
.main-text-color {
  color: var(--main-text-color);
}
.sub-text-color {
  color: var(--ligth-gray);
}
.box-shadow {
  box-shadow: 5px 5px 0.2rem var(--ligth-gray);
}

li:hover,
i:hover {
  color: var(--light-green);
  font-size: 1.1rem;
}
/* end global */

/*start  home style  */
.home-container {
  background-color: var(--main-bg-color);
  min-height: 100vh;
}
.Logo-Title {
  color: var(--main-text-color);
  font-size: 1.5rem;
}

.main-shadow {
  box-shadow:
    0px 10px 10px #4d644d,
    0px -10px 10px #4d644d;
}
nav ul li,
.toggel {
  color: var(--main-text-color);
}

@media (max-width: 991px) {
  nav ul li {
    padding: 2px;
    margin-top: 10px;
  }
  nav ul li:hover {
    /* border-bottom: 2px solid green; */
    padding-left: 7px;
  }
}
nav ul li:hover {
  border-bottom: 2px solid green;
  /* padding-left: 7px; */
}

hr {
  background-color: var(--main-text-color);
  border: none;
  margin: 10px auto;
  border-radius: 20px;
}

.card {
  background-color: var(--main-bg-color) !important;
}

.box-hover:hover .box-image {
  transform: scale(1.1) rotate(5deg);
  transition: transform 0.5s ease;
}

.box-image {
  transition: transform 0.5s ease;
}
footer {
  color: var(--ligth-gray);
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/* الكاراكتير الي بيتكلم  */

.floating-lottie {
  position: fixed;
  right: -50px;
  top: 20%;
  width: 180px;
  height: auto;
  transform: rotate(-15deg);
  z-index: 9;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

.floating-lottie:hover {
  transform: rotate(0deg) scale(1.1);
}

/* ****************************************************** splach screen  */
.splash {
  position: fixed;
  inset: 0;
  /* background: rgb(199, 241, 211); */
  background: black;
  color: rgb(199, 241, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* الصف النهائي */
.logo-row {
  display: flex;
  align-items: center;
}

/* اللوجو */
.splach-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  animation:
    logoUp 0.8s ease-out forwards,
    logoRotateMove 1.2s ease-in-out forwards;

  animation-delay: 0s, 0.8s;
}

/* الاسم */
.brand-name {
  /* margin-left: 10px; */
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;

  opacity: 0;
  animation: textUpRight 0.5s ease forwards;
}

/* من تحت لفوق */
@keyframes logoUp {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* روتيت + شمال */
@keyframes logoRotateMove {
  from {
    transform: rotate(0deg) translateX(0);
  }
  to {
    transform: rotate(360deg) translateX(130px);
  }
}

/* الكلام يطلع من تحت ويمشي يمين */
@keyframes textUpRight {
  from {
    opacity: 0;
    transform: translate(40px, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
